<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>

    <div id="vue-app">
        <h1>Looping throught list</h1>
        <p>Example 1</p>

        <ul>
            <li v-for="character in characters"> {{ character }}</li>
        </ul>

        <p>Example 2</p>
        <ul>
            <li v-for="druid in druids">{{ druid.name }} - {{ druid.age }}</li>
        </ul>

        <p>Example 3</p>
        <ul>
            <li v-for="(druid, index) in druids">{{ index }} | {{ druid.name }} - {{ druid.age }}</li>
        </ul>

        <p>Example 4</p>
        <div v-for="(druid, index) in druids">
            <h5>{{ index }} | {{ druid.name }}</h5>
            <p>{{ druid.age }}</p>
        </div>

        <p>Example 5</p>
        <template v-for="(druid, index) in druids">
            <h5>{{ index }} | {{ druid.name }}</h5>
            <p>{{ druid.age }}</p>
        </template>

        <p>Example 6</p>
        <template v-for="druid in druids">
            <div v-for="(key,val) in druid">
                <p>{{ key }} - {{ val }}</p>
            </div>
        </template>

        
    </div>

    <script src="app.js"></script>
</body>

</html>